@font-face {
  font-family: "arial";
  font-weight: 400;
  src: url("../fonts/arial.ttf");
}

@font-face {
  font-family: "JuliusSansOne";
  font-weight: 400;
  src: url("../fonts/JuliusSansOne-Regular.ttf");
}

@font-face {
  font-family: "MyriadPro-Regular";
  font-weight: 400;
  src: url("../fonts/MyriadPro-Regular.otf");
}

body {
  background-color: #ffffff;
  color: #000000;
  font-family: "JuliusSansOne", sans-serif;
  font-size: 16px;
  font-weight: 400;
  max-width: 1920px;
  margin: 0 auto;
}

.clear::after {
  content: "";
  display: block;
  clear: both;
}

a {
  text-decoration: none;
  outline: none;
  display: block;
  color: #ffffff;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

a:hover {
  transition: 0.8s ease;
  -webkit-transition: 0.8s;
  opacity: 0.8;
}

.sec-inner {
  max-width: 1281px;
  margin: 0 auto;
}

.sec-title {
  font-size: 35px;
  text-align: center;
  line-height: 1.2;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.sec-btn {
  background-color: #363636;
  width: 312px;
  padding: 22px 10px 17px;
  border: 1px solid transparent;
  border-radius: 5px;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
}

.sec-btn:hover {
  background-color: #ffffff;
  color: #363636;
  border: 1px solid #363636;
}

img {
  max-width: 100%;
}

p {
  font-family: "arial", sans-serif;
}

/* Mainvisual Section
====================== */
.sec-mv {
  position: relative;
  padding: 35px 0 108px;
  background: url("../img/img_mv_bg.png") no-repeat center/cover;
}

.sec-mv .header {
  background-color: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  padding: 33px 0 23px;
  margin-bottom: 95px;
}

.sec-mv .header .header-logo {
  position: absolute;
  top: 0;
  float: left;
  padding: 47px 94px 46px 107px;
  background: url("../img/img_header_logo_bg.png") no-repeat center/cover;
}

.sec-mv .header .gnav {
  float: right;
}

.sec-mv .header .gnav li {
  float: left;
  margin-right: 54px;
}

.sec-mv .header .gnav li:last-child {
  margin-right: 0;
}

.sec-mv .header .gnav li a {
  font-family: "MyriadPro-Regular";
  padding-bottom: 5px;
  color: #636363;
  letter-spacing: 5px;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
}

.sec-mv .header .gnav li a:hover,
.sec-mv .header .gnav li a.active {
  transition: 0.5s ease;
  border-bottom: 1px solid #ccc;
}

.sec-mv .mv-ctn .ctn-txt {
  width: 606px;
  padding: 48px 68px 58px;
  border: 5px solid #ebebeb;
}

.sec-mv .mv-ctn .ctn-txt .sec-title {
  font-size: 33px;
  text-align: left;
  letter-spacing: 3px;
}

.sec-mv .mv-ctn .ctn-txt p {
  color: #808080;
  padding: 13px 3px;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0.6px;
}

/* Book  A Table Section
========================== */
.sec-book-tbl {
  padding: 55px 0 40px;
}

.sec-book-tbl .fruits-img {
  float: left;
  width: 62%;
  margin-top: 2px;
  margin-left: -25px;
}

.sec-book-tbl .ctn-txt {
  width: 35%;
  float: right;
}

.sec-book-tbl .ctn-txt .sec-title {
  padding-bottom: 30px;
  text-align: start;
}

.sec-book-tbl .ctn-txt .book-tbl-desc p {
  line-height: 1.65;
  padding-bottom: 27px;
  letter-spacing: 0.55px;
}

.sec-book-tbl .ctn-txt .book-tbl-desc .sec-btn {
  margin: 10px 4px 0;
}

/* Our Speciality Menu Section
================================ */
.sec-menu {
  padding: 12px 0 80px;
}

.sec-menu .underline {
  position: relative;
  text-align: center;
  margin-bottom: 37px;
}

.sec-menu .underline::before {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  z-index: -1;
  width: 77%;
  height: 2px;
  margin: 0 auto;
  background-color: #000000;
  content: "";
  transform: translateY(-50%);
}

.sec-menu .underline span {
  padding: 0 48px;
  background-color: #ffffff;
}

.sec-menu .menu-list {
  padding-top: 72px;
}

.sec-menu .menu-list li {
  float: left;
  width: 47.1%;
  margin-right: 5.7%;
  margin-bottom: 36px;
}

.sec-menu .menu-list li:nth-child(2n) {
  margin-right: 0px;
}

.sec-menu .menu-list li .img-item {
  width: 28%;
  float: left;
}

.sec-menu .menu-list .menu-content {
  width: 67%;
  float: right;
}

.sec-menu .menu-list .menu-title {
  padding-bottom: 14px;
  font-size: 28px;
  letter-spacing: 2px;
}

.sec-menu .menu-list p {
  line-height: 1.85;
  letter-spacing: 0.44px;
}

.sec-menu a {
  margin: 0 auto;
}

/* Meet Our Experienced Chefs Section
======================================= */
.sec-chefs {
  padding: 39px 0 45px;
  background: url("../img/chefs_bg_img.png") no-repeat center/cover;
}

.sec-chefs .chef-list {
  padding-top: 30px;
}

.sec-chefs .chef-list .sec-title {
  font-size: 28px;
  padding: 38px 0 32px;
  line-height: 21.83px;
}

.sec-chefs .chef-list .sec-title span {
  font-size: 20px;
}

.sec-chefs ul li {
  float: left;
  width: 29.3%;
  margin-right: 6%;
  text-align: center;
}

.sec-chefs ul li:nth-child(3n) {
  margin-right: 0;
}

.sec-chefs ul li p {
  line-height: 1.55;
  letter-spacing: 0.8px;
}

/* Read our blogs Section
=========================== */
.sec-blogs {
  background: url("../img/img_blogs_bg.png") no-repeat top right;
  padding: 102px 0 80px;
}

.sec-blogs .blog-list {
  padding: 32px 0 30px;
}

.sec-blogs .blog-list li {
  position: relative;
  float: left;
  width: 29.3%;
  margin-right: 6%;
}

.sec-blogs .blog-list li:nth-child(3n) {
  margin-right: 0;
}

.sec-blogs .blog-list li .sec-title {
  position: absolute;
  top: 38%;
  width: 100%;
  line-height: 1.35;
  padding: 3px 10px 0;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  background-color: #636363cc;
}

.sec-blogs .btn-list {
  width: 270px;
  margin: 0 auto;
}

.sec-blogs .btn-list li {
  float: left;
  margin-right: 30px;
}

.sec-blogs .btn-list li:last-child {
  margin-right: 0;
}

.sec-blogs .btn-list li a {
  width: 120px;
  padding: 12px 10px;
  background-color: #d5d0cc;
  text-align: center;
}

.sec-blogs .btn-list li a:hover {
  background-color: #363636;
}

/* Footer
==========  */
.sec-footer {
  background-color: #2b2a2a;
  text-align: center;
}

.sec-footer .site-info {
  padding: 40px 0px;
}

.sec-footer .footer-title {
  display: inline-block;
}

.sec-footer p {
  width: 370px;
  margin: 0 auto;
  padding-top: 32px;
  line-height: 25.46px;
  color: #fff;
}

.copyright-block {
  background-color: #252525;
}

.copyright-block p {
  width: 100%;
  padding: 36px 0px 38px;
}